
/* Mobile */
@media only screen and (min-width:320px) and (max-width:480px){
    .Section-discount{
       
        .Parent-discount{

            h1{
                font-size: 24px;
                text-align: center;
            }
            img{
                width: 100%;
                height: auto;
            }
           flex-direction: column;
           gap: 20px;
           .discount-right{
            align-items: center;
            gap:15px;
            .btn{
                font-size: 16px;
            }
           }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:768px){
    .Section-discount{
       
        .Parent-discount{
           flex-direction: column;
           gap: 20px;
           .discount-right{
            align-items: center;
            gap:15px;
            .btn{
                font-size: 24px;
            }
           }
        }
    }
}
/* Tablet */
/* @media only screen and (min-width:480px) and (max-width:768px){
    .Section-discount{
        .Parent-discount{
            gap: 80px;
        }}
} */
/* Small Screen */
@media only screen and (min-width:768px) and (max-width:1024px){
    .Section-discount{
        .Parent-discount 
        {  
           gap: 80px;
           .discount-right{
            align-items:start;
            gap:15px;
        }
    }
}
}
/* Medium Screen */
@media only screen and (min-width:1024px) and (max-width:1280px){
    .Section-discount{
        .Parent-discount
        { 
            h1{
                text-align: center;
            }
           gap: 100px;}}

}
/* Large Screen */
@media only screen and (min-width:1280px){
    .Section-discount{
        .Parent-discount
        { 
        justify-content: space-between;
        .discount-right{
         padding-left:5rem;
        }
        }}
}
