.loader {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure loader stays on top */
  /* Add other styling properties for your loader */
  --c:no-repeat linear-gradient(black 0 0);
  background: var(--c),var(--c),var(--c),var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}


.btn{
    background-color: black;
    color:white;
    padding: 15px 20px;
    width: fit-content;
    height: auto;
    font-size:28px;
    font-family: 'TC-SemiBold';

}
@media only screen and (min-width:320px) and (max-width:480px){
.btn{
  background-color: black;
  color:white;
  padding: 9px 12px;
  width: fit-content;
  height: auto;
  font-size:16px;
}
}

.App {
    display: flex;
    flex-direction: column; /* Center the content horizontally */
}
  /* @media (min-width: 1280px) {
    .App .container-1{
      max-width: 1680px; 
    }
  } */